Thumbs.db
.DS_Store
.gradle
build/
target/
ZoneZero-Api-Core/build/
out/
.micronaut/
data/
logs/
.idea
*.iml
*.ipr
*.iws
.project
.settings
.classpath
.factorypath
ZoneZeroAPI-Servers/build/
ZoneZeroAPI-Emails/build/
ZoneZeroAPI-Web/build/
ZoneZeroAPI-Players/build/
ZoneZeroAPI-Core/build/
ZoneZeroAPI-Servers/data/
ZoneZeroAPI-Emails/data/
ZoneZeroAPI-Web/data/
ZoneZeroAPI-Players/data/
ZoneZeroAPI-Servers/logs/
ZoneZeroAPI-Emails/logs/
ZoneZeroAPI-Web/logs/
ZoneZeroAPI-Players/logs/
ZoneZeroAPI-Core/logs/
